<form action="/addressbook/index" method="GET">
	<input type="text" name="keywords" />
	<input type="submit" value="Search" />
</form>

<table>        
	<% @addresses.each do |code, address| %>
	<tr>
		<td> <%= code %> </td>
		<td> </td>
		<td> </td>
		<td> </td>
	</tr>
		<% address.each do |address_contents| %>
		<tr>
			<td> </td>
			<% address_contents.each do |content| %>
			<td> <%= content %> </td>
			<% end %>
		</tr>
		<% end %>
	<% end %>
</table>
